
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
server/bin/headers/utilities.o
server/bin/headers/grup.o
server/bin/headers/lib.o
/server/bin
/server/DB
/server/DB
*.chat
server/makefile
client/client
